<div class="main-container mat-app-background">
  <div *ngIf="!session" class="welcome-container">
    <div class="welcome-form-container">
      <mat-form-field
        appearance="fill">
        <mat-label>Meeting Id</mat-label>
        <input
          [(ngModel)]="meetingId"
          matInput
          autocomplete="off"
          (keyup.enter)="onJoinButtonClick()">
      </mat-form-field>

      <mat-form-field
        appearance="fill">
        <mat-label>Nickname</mat-label>
        <input
          [(ngModel)]="me.nickname"
          matInput
          autocomplete="off"
          (keyup.enter)="onJoinButtonClick()">
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!meetingId || !me.nickname"
        (click)="onJoinButtonClick()">
        JOIN
      </button>
    </div>
  </div>

  <div *ngIf="session" class="chat-container">
    <div #body class="body">
      <div
        *ngFor="let message of messages"
        class="message"
        [ngClass]="message.participantId === me.id ? 'my-message' : 'remote-message'"
        (click)="onMessageClick(message)">
        <div>
          <span *ngIf="message.participantId !== me.id" [ngStyle]="{'color': message.color}">{{ message.nickname }}</span>
          <div class="message-time-sent-container">
            <span class="message-time" [ngClass]="message.participantId === me.id ? 'message-time--my-message' : 'message-time--remote-message'">{{ message.sentAt?.toLocaleTimeString().substr(0, 5) }}</span>
            <mat-icon *ngIf="message.participantId === me.id && message.sentAt" class="sent-icon">check</mat-icon>
          </div>
        </div>

        <div
          *ngIf="message.attachments?.type === AttachmentType.File"
          class="message-data-container">
          <div class="message-attachment-title" [ngClass]="message.participantId === me.id ? 'text-light-violet' : 'text-light-blue'">Attachments</div>
          <div class="message-attachment-list-container" *ngFor="let file of message.attachments.data">
            <div>{{ file.name }}</div>
            <div *ngIf="file.progress >= 0 && file.progress <= 99" class="message-attachment-progress-bar-container">
              <mat-progress-bar mode="determinate" color="warn" [value]="file.progress"></mat-progress-bar>
              <mat-icon
                class="message-attachment-abort-icon"
                (click)="onAbortAttachmentUploadButtonClick(message.id)">
                clear
              </mat-icon>
            </div>
          </div>
        </div>

        <div
          *ngIf="message.replyMessage"
          class="message-data-container">
          <div [ngStyle]="{'color': message.replyMessage.color}">{{ message.replyMessage.nickname }}</div>
          <div>{{ message.replyMessage.text }}</div>
        </div>

        <div
          class="message-text"
          [class.message-text--my-message-text]="message.participantId === me.id"
          [innerHtml]="message.html">
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <div>
        <div *ngIf="getTypingMessage()" class="is-typing-message">{{ getTypingMessage() }}</div>
      </div>

      <div>
        <div *ngIf="filesToSend.length > 0" class="my-message-data-container">
          <button mat-button matSuffix mat-icon-button class="my-message-data-clear-button" (click)="onRemoveFilesButtonClick()">
            <mat-icon>clear</mat-icon>
          </button>
          <div *ngFor="let file of filesToSend">
            <p>
              <span class="italic">File: </span> <span>{{ file.name }}</span>
            </p>
            <p>
              <span class="italic">Size: </span> <span>{{ bytes(file.size) }}</span>
              <span *ngIf="file.size > 524288000" class="attachment-size-alert">Max allowed file size is 500MB</span>
            </p>
          </div>
        </div>
      </div>

      <div>
        <div *ngIf="replyMessage" class="my-message-data-container reply-container">
          <button mat-button matSuffix mat-icon-button class="my-message-data-clear-button" (click)="onCancelReplyButtonClick()">
            <mat-icon>clear</mat-icon>
          </button>
          <p>
            <span class="italic">Reply to: </span> <span>{{ replyMessage.nickname }}</span>
          </p>
          <p>{{ replyMessage.text }}</p>
        </div>
      </div>

      <div>
        <input #fileInput [hidden]="true" type="file" multiple (change)="onFileChange($event)">
        <button class="attach-button" mat-button matSuffix mat-icon-button (click)="onAttachButtonClick()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>

      <div>
        <quill-editor
          #myMessageEditor
          class="material-quill-editor"
          [modules]="modules"
          placeholder="Type here..."
          (onContentChanged)="onMyMessageEditorContentChanged($event)">
        </quill-editor>
      </div>

      <div>
        <button mat-button matSuffix mat-icon-button class="send-button" (click)="send()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
    <!-- /FOOTER -->
  </div>
</div>