.buttons-container {
  display: flex;
  flex-direction: column;
}

.choice-button {
  margin-top: 15px;
}

.choice-button:first-child {
  margin-top: 0;
}

.choice-button span {
  margin-left: 10px;
}