/* You can add global styles to this file, and also import other style files */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #454545;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b27cd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7B1FA2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.italic  {
  font-style: italic;
}

.text-light-blue {
  color: #a1c9fe;
}

.text-light-violet {
  color: #e2bcf2;
}

mat-form-field {
  width: 100%;
}